.starter-template { 
	padding: 40px 15px;
  text-align: center;
}

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	border: 0;!important
}

.full {
  background: url(../images/blh_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.yeller a:hover {
	color: #FFD700 !important;
}

.coinbase-button {
  color: orange !important;
}


.bg-vid {
  text-align: center;
  display: block;
  background: rgba(255,235,215,.5);
  padding: 0 !important;
	font-style: "Comic Sans MS", Arial, serif; !important
}

.bg-song {
	display: none;
}	

.ys {
	display: block;
	width: 100%;
	align: center;
	text-align: center;
	background: rgba(255,235,215,.5);
	padding: 10px;
}

html {
	border: 0;!important
}
