.starter-template { 
	padding: 40px 15px;
  text-align: center;
}

h1 {
	font-size: 72px;
	font-family: Comic Sans MS Helvetica Arial;
	margin: 0;
}
.slide-box {
	text-align: center;
	display:block;
	height: 100%;
	vertical-align: middle;
}

#slide1 {
	background: rgba(242,237,182,.8);
}

#slide2 {
	background: rgba(232,205,116,.8);
}

#slide3 {
	background: rgba(125,104,66,.8);
}

#haiku {
	vertical-align: middle;
	position: relative;
	transform: translateY(-50%);
	top:  50%;
}

body, html {
	height: 100%;
	width: 100%;
}



body {
	margin-bottom: 50px;
	background: none;
	border: 0;!important
	font-family: "Comic Sans MS", Helvetica, Arial;
}

.full {
  background: url(../images/blh_background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.yeller a {
	font-family: "Comic Sans MS", Helvetica, Arial;
}

.yeller a:hover {
	color: #FFD700 !important;
}

.coinbase-button {
  color: orange !important;
}


.bg-vid {
  text-align: center;
  display: block;
  background: rgba(255,235,215,.5);
  padding: 0 !important;
	font-family: "Comic Sans MS", Arial, serif; !important
}

.bg-song {
	display: none;
}	

.ys {
	display: block;
	width: 100%;
	align: center;
	text-align: center;
	background: rgba(255,235,215,.5);
	padding: 10px;
}

html {
	border: 0;!important
	border-bottom-width: 0; !important
}
